.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: #3d3d3ddd;
    display: flex;
    justify-content: center; 
    z-index: 50;
}

.modal {
    background-color: var(--darkmode-bg-color);
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

.modal-small {
    background-color: var(--darkmode-bg-color);
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

.modal-extra-small {
    background-color: var(--darkmode-bg-color);
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

@media only screen and (min-width: 800px) {
    .modalBackground {
        /* align-items: flex-start; */
    }

    .modal {
        margin-top: 50px;
        /* height: 500px; */
        max-height: calc(100vh - 100px);
        max-width: 700px;
        padding: 20px;
    }
    .modal-small {
        margin-top: 100px;
        /* height: 500px; */
        max-height: 400px;
        max-width: 600px;
        padding: 20px;
    }
    .modal-extra-small {
        margin-top: 150px;
        /* height: 500px; */
        max-height: 300px;
        max-width: 500px;
        padding: 20px;
    }
}